<!DOCTYPE html>




<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Boys!</title>
  <link rel="stylesheet" href="css/normalise.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

  <div class="segments" id="sidebars">
    <img id="sideimage" src="/home-page-images/bigtear.png">

  </div>

  <div class="segments" id="center">

    <img id="header" src="/home-page-images/header.png" class="">

    <form action="/api/tweets">

      <br>
      <input type="text" name="handle" placeholder="yourhandle">
      <br>
      <input type="image" src="/home-page-images/footer.png" value="Submit">
    </form>


  </div>


  <div class="segments" id="sidebars">
    <img id="sideimage" src="/home-page-images/secondtear.png">

  </div>











</body>

</html>