</head>

<body class="container">

  <header>


  </header>
  <div>
    <main>
      <div class="jumbotron">
        <h1>You have too much
          <%= user_emotion %>. Try sharing it with this cute boy 😘
            <br>
            <img src=<%=`/cuteBoys/${img}`%>>
            <br> name:
            <%= name %>
              <br> bio:
              <%= bio %>
                <3 </h1>
                  <p></p>
      </div>
    </main>

    <footer>

    </footer>

</body>

</html>